body {
    margin: 0;
    padding: 0;
    color: #2E3A59; 
    overflow-x: hidden;
}

.background-slika{
    background-image: url('../imgs/bamboo.jpg'); 
    background-repeat: repeat;
    background-size: cover;
}

.custom-container{
    max-width: 85%;
    margin:0 auto;
}


.content {
    text-align: center;
    padding: 50px 20px;
}

#lijevi-text{
    padding-top:3%;
    line-height: 1.6;
}

#lijevi-text h1 {
    padding-left:2%;
    padding-top:3%;
    padding-bottom:1%;
    font-size: 4.5em;
    margin: 0;
    color: #2E3A59; 
}


.animals-image img{
    width: 120%;
    max-width:1000px;
}

.intro-text{
    padding:2%;
    font-size:1.5em;
    max-width:90%;
    padding-top:6%;
}

.gumbi-content{
    padding:2%;
}

.recenzija-button {
    background-color: #FF5B5B; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size:19px;
}

a:hover{
    text-decoration: none;
}




/* Stil za recenzije */
.review-card {
    background-color: #F2EFEA;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Stil za veliku sliku na vrhu kartice */
.review-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

/* Stil za sadržaj recenzije */
.review-content {
    padding: 15px;
}

/* Stil za ime korisnika */
.user-name {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2.4em;
    font-weight: bold;
    margin: 0;
    color: #FF5B5B;
}

/* Stil za tekst recenzije (izgleda kao da je pisan rukom) */
.review-text {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 1.8em;
    color: rgb(34, 34, 34);
    margin-top: 8px;
    font-weight: bold;
}

/* Stil za ikonu psa */
.animal-icon {
    width: 5%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(10deg);
}


/*Stil za popup*/
/* Stiliziranje popup-a */
.popup {
    display: none; /* Na početku je popup sakriven */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #FF5B5B;
    cursor: pointer;
}

.popup-image input {
    margin: 10px 0;
}

.popup-textarea textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.popup-icons {
    margin-top: 15px;
}

.popup-icons input[type="radio"] {
    display: none;
}

.popup-icons label {
    cursor: pointer;
    margin-right: 10px;
}

.popup-icons input:checked + label {
    border: 2px solid #FF5B5B;
    border-radius: 50%;
}

.popup-icons label img {
    width: 30px;
    height: 30px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #FF5B5B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
