body {
    margin: 0;
    padding: 0;
    color: #2E3A59; 
    overflow-x: hidden;
}

.background-slika{
    background-image: url('../imgs/bamboo.jpg'); 
    background-repeat: repeat;
    background-size: cover;
}

.custom-container{
    max-width: 85%;
    margin:0 auto;
}

.content {
    text-align: center;
    padding: 50px 20px;
}

.banner {
    background-color: #2E3A59; 
    color: white;
    border: none;
    border-radius: 0 0 100px 0;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding-left:2%;
    width:500px;
}

#lijevi-text h1 {
    padding-left:2%;
    padding-top:3%;
    padding-bottom:1%;
    font-size: 3em;
    margin: 0;
    color: #2E3A59; 
}


.animals-image img{
    width: 110%;
}
   
.grass-bottom {
    height: 120px;
    position: relative;
    background-position: bottom left;
    background-repeat: repeat-x; 
    background-image: url('../imgs/grass.png');
    background-size: auto 150px; 
    margin-top:2%;
}


.intro-text{
    padding:2%;
    font-size:1.5em;
    max-width:80%;
}

.gumbi-content{
    padding:2%;
}

.rezerviraj-button {
    background-color: #FF5B5B; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size:19px;
}

.vise-button{
    border:1px solid #FF5B5B;
    color:#2E3A59;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size:19px;
    margin-left:5%;
}

.vise-onama{
    border:1px solid #FF5B5B;
    color:#2E3A59;
    border-radius: 5px;
    text-decoration: none;
    font-size:19px;
    padding:10px;
}

#margina-pomak{
    margin-top:5%;
}

a:hover{
    text-decoration: none;
}


/**Galerija **/

.galerija{
    padding: 4%;
    background-color: #112530;
    color:white;
    text-align: center;
}

.galerija h2{
    padding:0;
    margin:0;
    text-align: center;
    line-height: 1.5;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 35%; 
    height: auto;
    padding:2%;
    max-width:500px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}


/** tilt na kraju **/
.kraj-galerije {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.kraj-galerije svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.kraj-galerije .shape-fill {
    fill: #112530;
}

.about{
    padding-top:150px;
}

.point-arrow {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.point-arrow svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.point-arrow .shape-fill {
    fill: #112530;
}

.meet{
    padding-top:300px;
    margin: 0;
    padding: 0;
    color: #2E3A59; 
}

.meet img{
    width:110%;
    max-width:1000px;
}

.meet h2{
    font-weight: bold;
}

#meet-tekst{
    padding-top:3%;
}

.meet h4,h2{
    line-height: 1.6;
}

.meet h4{
    padding-top:2%;
    font-size:18px;
}

.subscribe{
    background-color: #112530; 
    color: white;
    height:100%;
    padding-bottom: 5%;
}

.subscribe h2{
    margin:0;
    padding:0;
    font-weight: bold;
    padding: 2%;
    padding-top:4%;
}

.subscribe h4{
    line-height:1.6;
    padding:2%;
}

.subscribe img{
    width:190%;
    position:absolute;
    margin-top:-70%;
    margin-left:-20%;
    max-width:1000px;
}

.custom-container2{
    width:70%;
    margin: 0 auto;
}

.subscribe input[type="email"] {
    border: none;
    outline: none;
    font-size: 16px;
    width:70%;
    padding: 12px 20px;
    color:black;
}

.pretplatime{
    padding-left:2%;
    padding-top:1%;
}

.merch{
    margin: 0;
    padding: 0;
    color: #2E3A59; 
    line-height: 1.6;
    padding:5%;
    padding-top:8%;
    padding-bottom:8%;

}

.merch img{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(70px 10px 20px rgb(206, 202, 202));
}

#nesto img{
    width:100%;
}

.merch h4, h3{
    line-height: 1.6;
}

.merch h1{
    font-weight: bold;
}

.merch h3{
    padding-top:3%;
}

.merch h4{
    padding-top:5%;
}

.custom-container3{
    width:80%;
    margin: 0 auto;
}

#merch-info{
    padding-top:1%;
}

.box {
    background-color: #fff;
    min-height: 160px;
    --shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-us{
    background-color: #1C566A;
    color: #DFF9FD;
    height:840px;
    background-image: url('../imgs/forest-background.png');
    background-repeat: repeat-x; 
    background-size:auto; 
    background-position:bottom; 
    width: 100%; 
}

.custom-container3 img{
    width:140%;
    padding-top:14%;
}

img{
    max-width: 1000px;
}

.contact-us h1{
    font-weight: bold;
}

.contact-us h4{
    padding-top:1%;
    line-height: 1.6;
}

#forma-input{
    width:44%;
    border: 1px solid #1C566A;
    outline: 1px solid #1C566A;
    font-size: 18px;
    color:black;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DFF8FF;
    margin-bottom: 20px;
    margin-right: 10px;
}

#forma-poruka{
    width:90%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DFF8FF;
    font-size: 19px;
    color:black;
    border: 1px solid #1C566A;
    outline: 1px solid #1C566A;
    margin-bottom: 20px;
    padding: 10px;
}

.links{
    height:100%;
    background-color:black;
    padding:0;
    margin:0;
}

@media (max-width: 1400px) {
    #subscribe-dog {
      display: none;
    }

    .navbar .nav-links {
        list-style: none;
        float:right;
        gap: 10px;
        padding-top:8%;
    }

    .navbar .nav-links li a {
        text-decoration: none;
        color: #2E3A59;
        font-size:18px;
    }

    .connect-button {
        background-color: #FF5B5B; 
        color: white;
        padding: 8px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size:18px;
        float:left;
    }

    .custom-container{
        max-width: 100%;
        margin:0 auto;
    }

    .custom-container3{
        max-width: 100%;
        margin:0 auto;
    }

    .box {
        background-color: #fff;
        border-radius: 6px;
        min-height: 160px;
        --shadow: 1px 1px 1px 1px rgb(0 0 0 / 0.25);
        box-shadow: var(--shadow);
        display:block;
    }

    .subscribe{
        background-color: #112530; 
        color: white;
        height:100%;
    }

    .merch{
        padding:2%;
    }

}   
