@font-face {
    font-family: 'KontaktFont'; 
    src: url('./fonts/kontakt.ttf') format('truetype'); 
}

.background-slika{
    background-image: url('../imgs/bamboo.jpg'); 
    background-repeat: repeat;
    background-size: cover;
}

.kontakt{
    background-color: white;
    margin-left:4%;
    margin-right:4%;
    margin-bottom:4%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

#slikaSume {
    width: 100%;
    height: 70%;
}

#suma img{
    margin:0;
    padding:0;
}

header{
    width:80%;
    margin: 0 auto;
}

h1{
    font-family: 'KontaktFont'; 
    padding-top:15%;
    text-align: center;
    font-size: 3.5vw;
    color:#2E3A59;
}

h2{
    font-size: 1.6vw;
    color:#2E3A59;
}

.fa-ikonice{
    display:flex;
    flex-direction: row;
    padding-top:2%;
}

.fa-ikonice i{
    font-size: 1vw;
    padding-right:3%;
    padding-top:2%;
}

p{
    font-size:1vw;
}

#pomak2{
    padding-left:14%;
    margin-top: 10%;
}

#info h2{
    padding-left:14%;
    padding-top: 18%;
}

#info{
    padding-left:8%;
}

#text-kontakt{
    padding-top:10%;
    line-height: 1.6;
    width:45%;
}

iframe{
    margin-top: 20%;
    padding-bottom:5%;
}

.col, .col-lg-5, .col-md-5, .col-sm-5, .col-xs-5{
    padding:0;
}

hr.sep-3 {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #f0f0f0, #2E3A59, #f0f0f0);
    width:80%; 
}

hr.sep-3::after {
    content: '🐾';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    padding: 1rem;
    background-color: white;
    color:#2E3A59;
    font-size: 2.6rem;
}