
.navbar {
    padding: 20px 50px;
    margin:auto;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 100px;
    margin-right: 10px;
}

.navbar .logo span {
    font-weight: bold;
    font-size: 18px;
}

a:hover{
    text-decoration: none;
}

.logo{
    display:flex;
    flex-direction: column;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    float:right;
    margin-right:10%;
    padding-top:6%;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #2E3A59;
    font-size:19px;
}

.login-button {
    background-color: #FF5B5B; 
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size:19px;
    margin-top:-10%;
}


#pomak{
    padding-top:4%;
}

#loginSignupLink {
    display: inline-flex;       
    align-items: center;     
}

#loginSignupLink i {
    margin-right: 8px;          
    font-size: 18px;            
}