/* Osnovni stilovi */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2E3A59;
}

body {
    background-image: url('../imgs/bamboo.jpg'); 
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 90vh;
    padding: 20px;
    background-color: rgba(242, 239, 234, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Header, 'Korak x od 8', Next button */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.step-info {
    font-size: 1.7rem;
    font-weight: bold;
    color: #FF5B5B;
    text-align: center;
    width: 97%;
    position: absolute;
    top: 20px;
}


.next-btn {
    padding: 20px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 0px;
    background-color: #FF5B5B;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 8px;
    right: 20px;
    display: none;
}

.next-btn:hover {
    background-color: #e54d4d; 
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.next-btn.visibleN{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease;
}

/* Steps container opcenito */
.steps {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

.step {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.step.active {
    display: block; 
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Step id, pomicanje naslova, poravnanja */

#step1, #step2, #step4, #step6, #step8{
    margin-top: 8%;
}

#step3, #step5, #step7{
    margin-top: 2%;
}

#step1Title, #step2Title, #step6Title{
    margin-bottom: 5%;
}

#step4Title{
    margin-bottom: 2%;
}


/* Options buttons, korak 1, 2 i 6 */

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.option-btn {
    width: 250px;
    height: 250px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.8s ease; 
    outline: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.option-btn img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
}

.option-btn.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease; 
}

.option-btn.selected {
    border: 2px solid #FF5B5B; 
    background-color: transparent;
    color: #FF5B5B; 
    box-shadow: 0 0 5px #FF5B5B;
}

.option-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Step 3 - biranje tura */

.left, .right {
    flex: 1; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}


.steps {
    display: flex;
    flex-direction: row; 
}

.tura-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none; 
    border-radius: 8px; 
    background-color: #FF5B5B; 
    color: white; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; 
}

.tura-btn:hover {
    background-color: #e54d4d; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.tura-btn.selected {
    background-color: #0056b3; 
    color: #ffffff; 
}

.tura-description {
    margin-top: 5px;
    height: 35rem;
    font-size: 1.2rem;
    padding: 10px; 
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

.tura-info-container {
    display: flex;
    align-items: stretch; 
    justify-content: flex-start; 
    gap: 20px; 
    height: 30rem; 
}

.tura-image, .tura-details {
    flex: 1; 
    height: 100%; 
    min-width: 0; 
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.8s ease;
}

.tura-image {
    height: 100%; 
    overflow: hidden;
}

.tura-image img {
    display: none;
    border-radius: 5px;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.tura-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column; 
    text-align: left; 
    justify-content: flex-start; 
    padding: 0;
    height: 100%; 
}

.tura-details strong {
    font-size: 3.5rem;
    display: block; 
    margin-bottom: 5px; 
}

.tura-details p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px; 
}



/* Step 4 - biranje datuma, vrijeme */
.date-time-picker {
    display: flex;
    gap: 20px; 
    align-items: flex-start;
    flex-wrap: wrap; 
    max-width: 800px; 
    margin: 0 auto; 
}

.date-selection {
    flex: 1; 
}

.date-input {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 250px; 
    margin-top: 20px; 
    display: block; 
}

.selected-date {
    margin-top: 15px; 
    font-size: 1.2rem;
    color: #333; 
}


.time-selection {
    display: none;
    flex: 1; 
    margin-top: 10px;
}

.time-selection h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.time-button {
    width: 100%;
    text-align: left;
    font-size: large;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.time-button:hover {
    background-color: #45a049;
}

/* Step 5 - biranje vodica*/

.vodic-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none; 
    border-radius: 8px; 
    background-color: #FF5B5B; 
    color: white; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}


.vodic-btn:hover {
    background-color: #e54d4d; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}


.vodic-btn.selected {
    background-color: #0056b3; 
    color: #ffffff; 
}

.vodic-description {
    margin-top: 5px;
    height: 35rem;
    font-size: 1.2rem;
    padding: 10px; 
    border-radius: 5px; 
    display: flex;
    flex-direction: column; 
    height: 100%; 
}

.vodic-info-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    height: 30rem;
}

.vodic-image, .vodic-details {
    flex: 1;
    height: 100%;
    min-width: 0;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.8s ease;
}

.vodic-image {
    height: 100%;
    overflow: hidden;
}

.vodic-image img {
    display: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vodic-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 0;
    height: 100%;
}

.vodic-details strong {
    font-size: 3.5rem;
    display: block;
    margin-bottom: 5px;
}

#vodic-br-tura {
    font-size: 1rem;
    color: #475a8a;
    opacity: 80%;
    font-weight: normal;
}

.vodic-details p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

/* Step 8 - biranje ljubimca*/

.zivotinja-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #FF5B5B;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.zivotinja-btn:hover {
    background-color: #e54d4d;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.zivotinja-btn.selected {
    background-color: #0056b3;
    color: #ffffff;
}

.zivotinja-description {
    margin-top: 5px;
    height: 35rem;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.zivotinja-info-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    height: 30rem;
}

.zivotinja-image, .zivotinja-details {
    flex: 1;
    height: 100%;
    min-width: 0;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.8s ease;
}

.zivotinja-image {
    height: 100%;
    overflow: hidden;
}

.zivotinja-image img {
    display: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zivotinja-details {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 0;
    height: 100%;
}

.zivotinja-details strong {
    font-size: 3.5rem;
    display: block;
    margin-bottom: 5px;
}

.zivotinja-details p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

/* Step 8 - prikaz detalja, save, reset button */

.summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
    margin: 30px auto;
    padding: 30px;
    min-width: 700px;
    align-items: center;
}

.allItems {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 50vh; 
    text-align: center;
}

.save-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #FF5B5B;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.save-btn:hover {
    background-color: #e54d4d;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.save-btn.selected {
    background-color: #0056b3;
    color: #ffffff;
}

.restart-btn {
    border: 1px solid #FF5B5B;
    color: #2E3A59;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 19px;
}

.restart-btn:hover {
    color: white;
}

/* GIF - lijevo, desno*/

#top-left-gif {
    position: fixed;
    top: 3%;
    left: 7%;
    width: 150px;
    height: auto;
    z-index: 9999;
}

#bottom-right-gif {
    position: fixed;
    bottom: 3%;
    right: 7%;
    width: 150px;
    height: auto;
    z-index: 9999;
}
